body {
  background-color: black;
  color: white;
  padding-top: 5rem;
}
.window {
  width: 60%;
  margin: auto;
}

.sfondoBlu {
  background-color: #c6f1fb;
  color: black;
}
span {
  padding: 1rem;
}

.sfondoTabella {
  background-color: #f6f7fa;
  color: black;
  padding: 1rem;
  border-radius: 10px;
}

/* css della pagina passw */
a {
  text-decoration: none;
  color: white;
}
